body {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
    background-color: #0f0e0e;
    color: aliceblue;
}
/*Make header sticky to the side*/
#header {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    padding: 65px;
    justify-content: center;
    position: fixed;
    margin: auto;
}

/*Make header respond with shorter resolution*/
@media (max-width: 1390px) {
    #header {
        padding: 20px;
        position: relative;
        margin: auto;
    }
}


#title {
    display: flex;
    text-align: center;
    flex-direction: column;
    color: #ffffff;
    font-weight: bold;
}

#title h3 {
    display: flex;
    text-align: center;
    white-space: nowrap;
    align-items: center;
    font-size: 2rem;
    color: #ffffff;
    margin: 8px;
    margin-bottom: 20px;
}

#socials {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#rDwn {
    display: block;
    object-fit: cover;
    background-color: black;
    color: #ffffff;
    border: 1px solid rgb(255, 255, 255);
    padding: 5px 10px;
    font-size: 20px;
}

#rDwn:hover {
    background-color: rgb(255, 255, 255);
    color: black;
    border: 1px solid black;
    transition: all 0.3s ease-in-out;
}

#dwn {
    display: inline-block;
    object-fit: cover;
    margin-bottom: -2px;
    height: 100%;
    width: 100%;
    max-width: 20px;
    max-height: 60px;
    color: black;
}

h2 {
    text-align: center;
    text-decoration: underline;
    justify-content: center;
    display: flex;
    font-size: 1.25rem;
    color: #ffffff;
    margin-bottom: 0.5rem;
}

section{
    margin-top: 100px;
    padding-left: 80px;
    padding-right: 80px;
}
/*Adjust links to have space*/
#nav-links {
    display: flex;
    justify-content: center;
    gap: .75rem;
    padding: 1rem;
    margin-top: -1rem;
}
/*Decorate*/
#nav-links a {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit text color */
    text-align: center;
}
#nav-links a:hover {
    text-decoration: underline; /* Add underline on hover */
}

#about {
    margin: auto;
    display: flex;
    width: 40%;
    flex-direction: column;
    gap: 2rem;
}
#about p {
    margin: auto;
    font-size: large;
}

/*Make photo circular*/
#me {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-height: 150px;
    max-width: 150px;
    border-radius: 47%;
}
#skillimg {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-height: 200px;
    max-width: 20px;
    border-radius: 0%;
}
#skills {
    display: flex;
    margin-top: -60px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

#skills p {
    text-align: center;
    margin-right: 95px;
    margin-bottom: -5px;
    font-size: 1rem;
    color: #ffffff;
    font-weight: bold;
}

#skills ul{
    margin-left: -80px;
}

.OS {
    font-size: 1rem;
    color: rgb(241, 167, 7);
    border: rgb(131, 76, 4) 6px solid;
    border-radius: 4rem; 
    background-color: rgb(131, 76, 4);
}
#contact-info {
    flex-direction: column;
    text-align: center;
}

/*Placeholder for Project carousel*/
#slider {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    padding: 1rem;
}

.card {
    margin: auto;
    position: relative;
    padding: 1rem;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    background-color: #000000;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

#slider .card {
    position: absolute;
}
  
#slider .card:first-child {
    z-index: 1;
}
  
#slider .card:nth-child(){
    z-index: 2;
}
  

.navigation-button {
    text-align: center;
    position: relative;
}
  
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 120px 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}
.active,
.dot:hover {
    background-color: #717171;
}
h4 {
    text-align: center;
}

/*Align link logos under h3 in a row*/
#links ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: -10px;
    gap: 1.5rem;
}

#insta {
    display: block;
    object-fit: cover;
    justify-content: center;
    padding-bottom: 20px;
    width: 100%;
    height: 100%;
    max-height: 30px;
    max-width: 60px;
    border-radius: 0%;
}

#port {
    display: block;
    object-fit: cover;
    margin-left: -10px;
    width: 100%;
    height: 100%;
    max-height: 30px;
    max-width: 60px;
    border-radius: 0%;
}